body{
    background: rgb(215, 210, 247);
}

.table{
    border: 2px solid #000;
    background: rgba(236, 92, 8, 0.822);
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
}

thead{
    background: rgb(63, 137, 235);
    font-size: 25px;
}

tbody{
    background: rgb(250, 246, 3);
}

.nav{
    text-align: center;
}